
      
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  
  html {
    -webkit-tap-highlight-color: rgba(73,72,65,0);
  }
  body {
    color: #494841;
    background-color: #ffffff;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
  }

  a {
    color: #e41b13;
  }
  a:hover {
    color: #be0000;
  }
  

    
 
.bg--transparent {
  background-color: transparent;
}

.mode--light, .bg--light {
  background-color: #ffffff;
  color: #494841;
}

@media (max-width: 768px) {
.bg--section-light {
  background-color: #ffffff;
}

.bg--section-dark {
  background-color: #000000;
}
}


a.bg--light:hover,
a.bg--light:focus,
button.bg--light:hover,
button.bg--light:focus {
  background-color: #d9d9d9;
}

.mode--dark, .bg--dark {
  background-color: #000000;
  color: #ffffff;
}

a.bg--dark:hover,
a.bg--dark:focus,
button.bg--dark:hover,
button.bg--dark:focus {
  background-color: #000000;
}

.bg--primary {
  background-color: #e41b13;
  color: #ffffff;
}

a.bg--primary:hover,
a.bg--primary:focus,
button.bg--primary:hover,
button.bg--primary:focus {
  background-color: #be0000;
}

.bg--player {
  background-color: #000000 !important;
  color: #ffffff;
}

a.bg--player:hover,
a.bg--player:focus,
button.bg--player:hover,
button.bg--player:focus {
  background-color:#000000;
}

.bg--footer {
  background-color: #000000 !important;
  color: #ffffff;
}

a.bg--footer:hover,
a.bg--footer:focus,
button.bg--footer:hover,
button.bg--footer:focus {
  background-color: #000000;
}

.bg--header {
  background-color: #FFE500 !important;
  color: #000000;
}

a.bg--header:hover,
a.bg--header:focus,
button.bg--header:hover,
button.bg--header:focus {
  background-color:#d9bf00;
}

.text-primary {
  color:#e41b13;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #be0000;
}

.text-light {
  color: #494841;
}

a.text-light:hover,
a.text-light:focus {
  color: #23221b;
}

.text-dark {
  color: #ffffff;
}

a.text-dark:hover,
a.text-dark:focus {
  color: #d9d9d9;
}



    

body {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
}

h1,
.h1,
h2:not(.lead),
.h2,
h3,
.h3,
.title {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
}

h4,
.h4,
h5,
.h5,
.subtitle {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
}

// Font-size for main carousel's and page's titles

h1.title {
  font-size: 3.6rem;
}

.h1,
.h1.block {
  font-size: 3.6rem;
}
@media (min-width: 768px) {
  h1.title {
  font-size: 4.6rem;
  }
  .h1,
  .h1.block {
    font-size: 4.6rem;
  }
}

// Font-size for main carousel's and page's leads

.h1 + .lead,
.lead.block {
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .h1 + .lead,
  .lead.block {
    font-size: 1.6rem;
  }
}

// Font-size for block's titles

.h2 {
  font-size: 3.8rem;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 2.6rem;
  }
}

.hr {
  border-top-color: currentColor;
}

.mode--light .date, .mode--light .lead, .mode--light .artist {
  color: #1D1D1B;
}

.mode--dark .date, .mode--dark .lead, .mode--dark .artist {
  color: #ffffff;
}

.bg--light .date, .bg--light .lead, .bg--light .artist {
  color: #1D1D1B;
}

.bg--dark .date, .bg--dark .lead, .bg--dark .artist {
  color: #ffffff;
}

.bg--primary .date,  .bg--primary .lead, .bg--primary .artist {
  color: rgba(255,255,255,0.5);
}

.mode--light pre, .mode--light code {
  background-color: #494841;
  color: #ffffff;
}

.mode--dark pre, .mode--dark code {
  background-color: #ffffff;
  color: #000000;
}

.bg--light pre, .bg--light code {
  background-color: #494841;
  color: #ffffff;
}

.bg--dark pre, .bg--dark code {
  background-color: #ffffff;
  color: #000000;
}

.mode--light cite, .mode--light blockquote {
  border-left-color: #1D1D1B;
}

.mode--dark cite, .mode--dark blockquote {
  border-left-color: #ffffff;
}

.bg--light cite, .bg--light blockquote {
  border-left-color: #1D1D1B;
}

.bg--dark cite, .bg--dark blockquote {
  border-left-color: #ffffff;
}



    


.form-control:focus {
  border-color: #e41b13;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #e41b13;
  background: #e41b13;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(228,27,19,0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: rgba(228,27,19,0.25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: rgba(228,27,19,0.25);
  border-color: rgba(228,27,19,0.25);
}



    

  .mode--dark .btn:not([class*='btn--']),
  .mode--dark .btn-ecoute-link {
    color: #494841;
    border-color: #ffffff;
    background: #ffffff;
  }
    .mode--dark .btn:not([class*='btn--']):hover, 
    .mode--dark .btn:not([class*='btn--']):focus,
    .mode--dark .btn-ecoute-link:hover,
    .mode--dark .btn-ecoute-link:focus {
      color: #494841;
      border-color: #d9d9d9;
      background: #d9d9d9;
    }
    .mode--dark a:hover .btn:not([class*='btn--']) {
      color: #494841;
      border-color: #d9d9d9;
      background: #d9d9d9; }
    .mode--dark .btn:not([class*='btn--']).disabled,  .mode--dark .btn:not([class*='btn--']):disabled
    {
      color: #494841;
      background-color:#ffffff;
      border-color: #ffffff; 
    }

  .mode--light .btn:not([class*='btn--']),
  .mode--light .btn-ecoute-link {
    color: #ffffff;
    border-color: #000000;
    background: #000000; }

  .mode--light .btn:not([class*='btn--']):hover, 
  .mode--light .btn:not([class*='btn--']):focus,
  .mode--light .btn-ecoute-link:hover,
  .mode--light .btn-ecoute-link:focus {
      color: #ffffff;
      border-color: #000000;
      background: #000000; }
      .mode--light a:hover .btn:not([class*='btn--']) {
      color: #ffffff;
      border-color: #000000;
      background: #000000; }
    .mode--light .btn:not([class*='btn--']).disabled,  .mode--light .btn:not([class*='btn--']):disabled
    {
      color: #ffffff;
      background-color:#000000;
      border-color: #000000; 
    }

  .bg--dark .btn:not([class*='btn--']) {
    color: #494841;
    border-color: #ffffff;
    background: #ffffff; }
    .bg--dark .btn:not([class*='btn--']):hover, 
    .bg--dark .btn:not([class*='btn--']):focus {
      color: #494841;
      border-color: #d9d9d9;
      background: #d9d9d9; }
      .bg--dark a:hover .btn:not([class*='btn--']) {
      color: #494841;
      border-color: #d9d9d9;
      background: #d9d9d9; }
    .bg--dark .btn:not([class*='btn--']).disabled,  .bg--dark .btn:not([class*='btn--']):disabled,
    {
      color: #494841;
      background-color:#ffffff;
      border-color: #ffffff; 
    }

  .bg--light .btn:not([class*='btn--']) {
    color: #ffffff;
    border-color: #000000;
    background: #000000; }
    .bg--light .btn:not([class*='btn--']):hover, 
    .bg--light .btn:not([class*='btn--']):focus {
      color: #ffffff;
      border-color: #000000;
      background: #000000; }
      .bg--light a:hover .btn:not([class*='btn--']) {
      color: #ffffff;
      border-color: #000000;
      background: #000000; }
    .bg--light .btn:not([class*='btn--']).disabled,  .bg--light .btn:not([class*='btn--']):disabled,
    {
      color: #ffffff;
      background-color:#000000;
      border-color: #000000; 
    }

  .btn--light {
    color: #494841;
    border-color: #ffffff;
    background: #ffffff; }
    .btn--light:hover, .btn--light:focus {
      color: #494841;
      border-color: #d9d9d9;
      background: #d9d9d9; }
    a:hover .btn--light {
      color: #494841;
      border-color: #d9d9d9;
      background: #d9d9d9; }
    .btn--light.disabled, .btn--light:disabled {
      color: #494841;
      background-color:#ffffff;
      border-color: #ffffff; }
  
  .btn--dark {
    color: #ffffff;
    border-color: #000000;
    background: #000000; }
    .btn--dark:hover, .btn--dark:focus {
      color: #ffffff;
      border-color: #000000;
      background: #000000; }
    a:hover .btn--dark {
      color: #ffffff;
      border-color: #000000;
      background: #000000; }
    .btn--dark.disabled, .btn--dark:disabled {
      color: #ffffff;
      background-color:#000000;
      border-color: #000000; }


  .btn--primary {
    color: #ffffff;
    border-color: #e41b13;
    background: #e41b13; }
    .btn--primary:hover, .btn--primary:focus {
      color: #ffffff;
      border-color: #be0000;
      background: #be0000; }
    a:hover .btn--primary {
      color: #ffffff;
      border-color: #be0000;
      background: #be0000; }
    .btn--primary.disabled, .btn--primary:disabled {
      color: #ffffff;
      background-color: #e41b13;
      border-color: #e41b13; }
          
  .btn--player {
    color: #ffffff;
    border-color: #000000;
    background: #000000; }
    .btn--player:hover, .btn--player:focus {
      color: #ffffff;
      border-color: #000000;
      background: #000000; }
    a:hover .btn--player {
      color: #ffffff;
      border-color: #000000;
      background: #000000; }
    .btn--player.disabled, .btn--player:disabled {
      color: #ffffff;
      background-color: #000000;
      border-color: #000000; }
    

  .btn--alpha {
    color: #ffffff;
    background: rgba(255,255,255,0.1); 
    border-color: transparent !important;
  }
    .btn--alpha:hover {
      background: rgba(255,255,255,0.2); }
    .btn--alpha.disabled, .btn--alpha:disabled {
      color: rgba(255,255,255,0.4); }


  .btn--link {
    color: #e41b13; }
    .btn--link:hover {
      color: #be0000; }


    

  .mode--dark .badge:not([class*='badge--']) {
    color: #494841;
    background-color: #ffffff;
  }
  .mode--dark a.badge:not([class*='badge--']):hover,
  .mode--dark a.badge:not([class*='badge--']):focus
  {
    color: #494841;
    background-color: #d9d9d9;
  }

  .mode--light .badge:not([class*='badge--']) {
    color: #ffffff;
    background-color: #000000;
  }
  .mode--light a.badge:not([class*='badge--']):hover
  .mode--light a.badge:not([class*='badge--']):focus
{
    color: #ffffff;
    background-color: #000000;
  }

  

  .bg--dark .badge:not([class*='badge--']) {
    color: #494841;
    background-color: #ffffff;
  }
  .bg--dark a.badge:not([class*='badge--']):hover,
  .bg--dark a.badge:not([class*='badge--']):focus
  {
    color: #494841;
    background-color: #d9d9d9;
  }

  .bg--light .badge:not([class*='badge--']) {
    color: #ffffff;
    background-color: #000000;
  }
  .bg--light a.badge:not([class*='badge--']):hover,
  .bg--light a.badge:not([class*='badge--']):focus
{
    color: #ffffff;
    background-color: #000000;
  }

  
  .badge--light {
    color: #494841;
    background-color: #ffffff;
  }
  a.badge--light:hover,
  a.badge--light:focus {
    color: #494841;
    background-color: #d9d9d9;
  }
  
  .badge--dark {
    color: #ffffff;
    background-color: #000000;
  }
  a.badge--dark:hover,
  a.badge--dark:focus {
    color: #ffffff;
    background-color: #000000;
  }
  
  .badge--primary {
    color: #ffffff;
    background-color: #e41b13;
  }
  a.badge--primary:hover,
  a.badge--primary:focus {
    color: #ffffff;
    background-color: #be0000
  }
  


    

.mode--light .thumbnail:hover,
.mode--light .thumbnail:focus {
  background: rgba(73,72,65,0.05);
  box-shadow: 0 0 0 0.5rem rgba(73,72,65,0.05);
}
.mode--light .thumbnail .actions {
  background: rgba(255,255,255,0.8);
}


.mode--dark .thumbnail:hover,
.mode--dark .thumbnail:focus {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 0 0 0.5rem rgba(255,255,255,0.1);
}
.mode--dark .thumbnail .actions {
  background: rgba(0,0,0,0.8);
}

.thumbnail.animated-title:hover .h3,
.thumbnail.animated-title:hover .h1 {
background-image: linear-gradient(to right, );
}



.bg--light .thumbnail:hover,
.bg--light .thumbnail:focus {
  background: rgba(73,72,65,0.05);
  box-shadow: 0 0 0 0.5rem rgba(73,72,65,0.05);
}
.bg--light .thumbnail .actions {
  background: rgba(255,255,255,0.8);
}

.bg--dark .thumbnail:hover,
.bg--dark .thumbnail:focus {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 0 0 0.5rem rgba(255,255,255,0.1);
}
.bg--dark .thumbnail .actions {
  background: rgba(0,0,0,0.8);
}


    
.mode--light .Audio .thumbnail {
    border-color: #D3D3D3;
}

.mode--light .Audio .thumbnail.has-audio-player {
    transition: all 0.2s ease-in-out;
    background: rgba(73,72,65,0);
}

.mode--light .Audio .thumbnail.has-audio-player:hover,
.mode--light .Audio .thumbnail.has-audio-player:focus {
    background: rgba(73,72,65,0.05) !important;
}

.mode--dark .Audio .thumbnail {
    border-color: #ffffff;
}

.mode--dark .Audio .thumbnail.has-audio-player {
    transition: all 0.2s ease-in-out;
    background: rgba(255,255,255,0);
}

.mode--dark .Audio .thumbnail.has-audio-player:hover,
.mode--dark .Audio .thumbnail.has-audio-player:focus {
    background: rgba(255,255,255,0.05) !important;
}

    


  .card {
    background-color: #ffffff;
    color: #494841;
  }


    

  .nav .nav-item .nav-link {
    color: inherit;
  }
  .nav .nav-item .nav-link:hover,
  .nav .nav-item .nav-link:focus,
  .nav .nav-item .nav-link:active {
    color: #e41b13;
  }
  .nav .nav-item .nav-link.active {
    color: #e41b13;
  }
  .nav .nav-item .nav-link.active:before {
    background: #e41b13;
  }

  .bg--primary .nav .nav-item .nav-link:hover,
  .bg--primary .nav .nav-item .nav-link:focus {
    color: rgba(73,72,65,0.8);
  }

  .bg--header .nav .nav-item .nav-link:hover,
  .bg--header .nav .nav-item .nav-link:focus {
    color: #e41b13
  }
  .bg--header .nav .nav-item .nav-link.active {
    color: #e41b13;
  }

  .bg--header .nav .nav-item .nav-link.active:before  {
    background: #e41b13;
  }


  .mode--light .nav-pills .nav-item .nav-link {
    color:#494841;
    background-color: rgba(73,72,65,0.15);
  }

  .mode--dark .nav-pills .nav-item .nav-link {
    color:#ffffff;
    background-color: rgba(255,255,255,0.15);
  }

  .mode--light .nav-pills .nav-item .nav-link.active, 
  .mode--dark .nav-pills .nav-item .nav-link.active
   {
    color:#ffffff;
    background-color: #e41b13;
  }


  .bg--light .nav-pills .nav-item .nav-link {
    color:#494841;
    background-color: rgba(73,72,65,0.15);
  }

  .bg--dark .nav-pills .nav-item .nav-link {
    color:#ffffff;
    background-color: rgba(255,255,255,0.15);
  }

  .bg--light .nav-pills .nav-item .nav-link.active, 
  .bg--dark .nav-pills .nav-item .nav-link.active
   {
    color:#ffffff;
    background-color: #e41b13;
  }


    
  .mode--light .loader,
  .mode--light .has-loader:after {
    border-color: rgba(73,72,65,0.15);
    border-top-color: #494841;
  }
  
  .mode--light .has-loader:before {
    background: rgba(255,255,255,0.75);
  }
  
  .mode--dark .loader,
  .mode--dark .has-loader:after {
    border-color: rgba(255,255,255,0.15);
    border-top-color: #000000;
  }
  
  .mode--dark .has-loader:before {
    background: rgba(0,0,0,0.75);
  }
  
  .bg--light .loader,
  .bg--light .has-loader:after {
    border-color: rgba(73,72,65,0.15);
    border-top-color: #494841;
  }
  
  .bg--light .has-loader:before {
    background: rgba(255,255,255,0.75);
  }
  
  .bg--dark .loader,
  .bg--dark .has-loader:after {
    border-color: rgba(0,0,0,0.15);
    border-top-color: #000000;
  }
  
  .bg--dark .has-loader:before {
    background: rgba(0,0,0,0.75);
  }
  
  .bg--primary .loader,
  .bg--primary .has-loader:after {
    border-color: rgba(73,72,65,0.15);
    border-top-color: #ffffff;
  }
  
  .bg--primary .has-loader:before {
    background: rgba(228,27,19,0.75);
  }

    

  .mode--light .dropdown-menu {
    color: #494841;
    background-color: #ffffff;
    border-color: rgba(73,72,65,0.2);
    box-shadow: 0 0.8rem 1rem rgba(73,72,65,0.1) }
    
    .mode--light .dropdown-menu .dropdown-item {
    color: #494841;
    }
    .mode--light .dropdown-menu .dropdown-item:hover, .mode--light .dropdown-menu .dropdown-item:focus {
    color: #e41b13;
    }
    .mode--light .dropdown-menu .dropdown-item.active, .mode--light .dropdown-menu .dropdown-item:active {
    color: #e41b13;
    }
    
    .mode--dark .dropdown-menu {
    color: #ffffff;
    background-color: #000000;
    border-color: rgba(255,255,255,0.2);
    box-shadow: 0 0.8rem 1rem rgba(255,255,255,0.1)
    }
    .mode--dark .dropdown-menu .dropdown-item {
    color: #ffffff;
    }
    .mode--dark .dropdown-menu .dropdown-item:hover, .mode--dark .dropdown-menu .dropdown-item:focus {
    color: #e41b13;
    }
    .mode--dark .dropdown-menu .dropdown-item.active, .mode--dark .dropdown-menu .dropdown-item:active {
    color: #e41b13;
    }
    
    .bg--light .dropdown-menu {
    color: #494841;
    background-color: #ffffff;
    border-color: rgba(73,72,65,0.2);
    box-shadow: 0 0.8rem 1rem rgba(73,72,65,0.1);
    }
    .bg--light .dropdown-menu .dropdown-item {
    color: #494841;
    }
    .bg--light .dropdown-menu .dropdown-item:hover, .bg--light .dropdown-menu .dropdown-item:focus {
    color: #e41b13;
    }
    .bg--light .dropdown-menu .dropdown-item.active, .bg--light .dropdown-menu .dropdown-item:active {
    color: #e41b13;
    }
    
    .bg--dark .dropdown-menu {
    color: #ffffff;
    background-color: #000000;
    border-color: rgba(255,255,255,0.2);
    box-shadow: 0 0.8rem 1rem rgba(255,255,255,0.1);
    }
    .bg--dark .dropdown-menu .dropdown-item {
    color: #ffffff;
    }
    .bg--dark .dropdown-menu .dropdown-item:hover, .bg--dark .dropdown-menu .dropdown-item:focus {
    color: #e41b13;
    }
    .bg--dark .dropdown-menu .dropdown-item.active, .bg--dark .dropdown-menu .dropdown-item:active {
    color: #e41b13;
    }
    
    .bg--primary .dropdown-menu {
      color: #ffffff;
      background-color: #e41b13;
      border-color: rgba(73,72,65,0.2);
      box-shadow: 0 0.8rem 1rem rgba(73,72,65,0.1);
    }
  
    .bg--primary .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .bg--primary .dropdown-menu .dropdown-item:hover, .bg--primary .dropdown-menu .dropdown-item:focus {
      color: rgba(73,72,65,15);
        }
    
    .bg--primary .dropdown-menu .dropdown-item.active, .bg--primary .dropdown-menu .dropdown-item:active {
      color: rgba(73,72,65,15);
    }

    
  .media .overlay {
    color: #ffffff;
  }

    
  .mode--light .tooltip {
    background-color: #494841;
    color: #ffffff;
  }
  .mode--light .tooltip:before {
    border-top-color: #494841;
  }
  .mode--light .tooltip-bottom:before {
    border-top-color: transparent;
    border-bottom-color: #494841;
  }

  .mode--dark .tooltip {
    background-color: #ffffff;
    color: #000000;
  }
  .mode--dark .tooltip:before {
    border-top-color: #ffffff;
  }
  .mode--dark .tooltip-bottom:before {
    border-top-color: transparent;
    border-bottom-color: #ffffff;
  }

  .bg--light .tooltip {
    background-color: #494841;
    color: #ffffff;
  }
  .bg--light .tooltip:before {
    border-top-color: #494841;
  }
  .bg--light .tooltip-bottom:before {
    border-top-color: transparent;
    border-bottom-color: #494841;
  }

  .bg--dark .tooltip {
    background-color: #ffffff;
    color: #000000;
  }
  .bg--dark .tooltip:before {
    border-top-color: #ffffff;
  }
  .bg--dark .tooltip-bottom:before {
    border-top-color: transparent;
    border-bottom-color: #ffffff;
  }


    

  .pagination .pagination-numerotation .btn.active {
    color: #e41b13 !important;
  }


    
  .mode--light .progress-bar-range:before { 
    background: rgba(73,72,65,0.2);
  }
  
  .mode--light .progress-bar-range .load {
    background: rgba(255,255,255,0.8);

  }
  
  .mode--light .progress-bar-range .progress { 
    background: #494841; 
  }
  
  .mode--light .progress-bar-range .progress:after { 
    background: #ffffff; 
    box-shadow: 0 0.2rem 0.2rem rgba(73,72,65,0.2); 
  }
  
  .mode--dark .progress-bar-range:before { 
    background: rgba(255,255,255,0.2);
  }
  
  .mode--dark .progress-bar-range .load {
    background: rgba(0,0,0,0.8);

  }
  
  .mode--dark .progress-bar-range .progress { 
    background: #ffffff; 
  }
  
  .mode--dark .progress-bar-range .progress:after { 
    background: #000000; 
    box-shadow: 0 0.2rem 0.2rem rgba(255,255,255,0.2); 
  }
    

    
  .Carousel .resume .subtitle {
    font-family: 'Roboto';
    font-style: normal;
}
    
  .PlayerBlock {
    color: white;
  }
  .PlayerBlock .artist {
    color: white;
  }
  .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range'] {
    color: #ffffff;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range'] {
      background-color: rgba(255,255,255,0.2);
    }
    .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range']::-webkit-slider-runnable-track {
      color: #ffffff;
    }
    .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range']::-webkit-slider-thumb {
      background: #ffffff;
      box-shadow: -30.8rem 0 0 30.4rem #ffffff;
    }
    .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range']:active::-webkit-slider-thumb {
      background: #ffffff;
      box-shadow: -30.8rem 0 0 30.4rem #ffffff;
    }
  }
  .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range']::-moz-range-progress {
    background-color: #ffffff;
  }
  .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range']::-moz-range-track {
    background-color: rgba(255,255,255,0.2);
  }
  .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range']::-ms-fill-lower {
    background-color: #ffffff;
  }
  .block:not(.PlayerBlock) .PlayerVolumeRange input[type='range']::-ms-fill-upper {
    background-color: rgba(255,255,255,0.2);
  } 


  .PlayerBlock .PlayerVolumeRange input[type='range'] {
    color: white;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .PlayerBlock .PlayerVolumeRange input[type='range'] {
      background-color: rgba(255,255,255,0.2);
    }
    .PlayerBlock .PlayerVolumeRange input[type='range']::-webkit-slider-runnable-track {
      color: white;
    }
    .PlayerBlock .PlayerVolumeRange input[type='range']::-webkit-slider-thumb {
      background: white;
      box-shadow: -30.8rem 0 0 30.4rem white;
    }
    .PlayerBlock .PlayerVolumeRange input[type='range']:active::-webkit-slider-thumb {
      background: white;
      box-shadow: -30.8rem 0 0 30.4rem white;
    }
  }
  .PlayerBlock .PlayerVolumeRange input[type='range']::-moz-range-progress {
    background-color: white;
  }
  .PlayerBlock .PlayerVolumeRange input[type='range']::-moz-range-track {
    background-color: rgba(255,255,255,0.2);
  }
  .PlayerBlock .PlayerVolumeRange input[type='range']::-ms-fill-lower {
    background-color: white;
  }
  .PlayerBlock .PlayerVolumeRange input[type='range']::-ms-fill-upper {
    background-color: rgba(255,255,255,0.2);
  } 

  .block:not(.PlayerBlock) .PlayerProgressRange {
    background-color: #000000;    }

  .block:not(.PlayerBlock) .PlayerProgressRange .progress {
    background-color: rgba(155,155,155,1);
  }


  .PlayerSection .PlayerProgressRange {
    background-color: transparent;
  }
  .PlayerSection .PlayerProgressRange .progress {
    background-color:rgba(0,0,0,1); 
  }

  .block:not(.PlayerBlock) .PlayerResume .artist {

    color:#ffffff !important;
    
    font-family: 'Roboto';
    font-size: 1.6rem !important;
  }

  .block:not(.PlayerBlock) .PlayerResume .title {

    color:#ffffff !important;
    
    font-family: 'Roboto';
    font-size: 1.4rem !important;
  }


  .block:not(.PlayerBlock) .PlayerRadio .dropdown-menu {
    background-color:#000000;
  }

  .block:not(.PlayerBlock) .PlayerSources .dropdown-menu {
    background-color:#000000;
  }

  .block:not(.PlayerBlock) .PlayerSources .dropdown-menu .dropdown-item {
  color:#ffffff !important;
  }

  .PlayerBouton .subtitle:before {
    background:#000000
  }

  .PlayerBouton .subtitle {
    color:#ffffff;
    font-family: 'Roboto','sans-serif';
    font-size: 1.6rem;
    
  }
  @media (min-width: 768px) {
  .PlayerBouton .subtitle {
    font-size: 1.6rem;
  }
}
  
.PlayerZone .buttonDraw {
  border-bottom: 5px solid #000000
}

.PlayerBroadcast:after {
  background-color: #ffffff; 
}

.PlayerBroadcast .resume .h3, .PlayerBroadcast .resume .date {
  color: #ffffff;
}
  
.h1 + .lead,
.lead.block {
  
}
  
.PlayerBouton .border-title {
  border-color:#000000;
}  
  

    
  .Header .container:after {
    border-top-color: currentColor;
  }

  .mode--light .Header.HasNavExpendable .HeaderNavContainer {
    background: #FFE500;
    box-shadow: 0 0.8rem 1rem rgba(255,229,0,0.5);
  }

  .mode--light .Header.HasNavExpendable .HeaderNavContainer > .btn {
    color: #494841
    background: #ffffff;
  }

  .mode--light .Header.HasNavExpendable .HeaderNavContainer > .btn:hover {
    background: #d9d9d9;
  }

  .mode--dark .Header.HasNavExpendable .HeaderNavContainer {
    background: #FFE500;
    box-shadow: 0 0.8rem 1rem rgba(255,229,0,0.5);
  }

  .mode--dark .Header.HasNavExpendable .HeaderNavContainer > .btn {
    color: #ffffff
    background: #000000;
  }

  .mode--dark .Header.HasNavExpendable .HeaderNavContainer > .btn:hover {
    background: #000000;
  }

  @media (max-width: 768px) {
    .mode--light .HeaderSources {
      background: #ffffff;
      color: #494841;
    }

    .mode--light .HeaderSources .nav .nav-item .nav-link:hover,
    .mode--light .HeaderSources .nav .nav-item .nav-link:focus,
    .mode--light .HeaderSources .nav .nav-item .nav-link.active {
      color: #494841
    }
  
    .mode--light .Header.HasPlayerFixed .HeaderSources {
      background: #ffffff;
      color: #494841;
    }
  }


  @media (max-width: 768px) {
    .mode--dark .HeaderSources {
      background: #000000;
      color: #ffffff;
    }

    .mode--dark .HeaderSources .nav .nav-item .nav-link:hover,
    .mode--dark .HeaderSources .nav .nav-item .nav-link:focus,
    .mode--dark .HeaderSources .nav .nav-item .nav-link.active {
      color: #ffffff
    }

    .mode--dark .Header.HasPlayerFixed .HeaderSources {
      background: #000000;
      color: #ffffff;
    }
  }



  .HeaderNav .nav .nav-item .dropdown-toggle:after {
    background-color: #000000;
  }
  
  .HeaderNav .nav .nav-item .nav-link  {
    font-family: 'Roboto';
    font-size: 2rem;
    font-style: normal;
  }
    
  @media (min-width: 992px) {
    .HeaderNav .nav .nav-item .nav-link {
      font-size: 2rem;
    }
  }

  .HeaderNav .dropdown-menu {
    background-color:#FFE500 !important;
  }

  .HeaderNav .dropdown-item {
    color:#000000 !important;
    font-family:'Roboto';
    font-size:2rem;
    font-style:normal;
  }

  @media(max-width:768px){
    .HeaderNav .dropdown-item {
      font-size:2rem;
    }
  }

  .HeaderNav .dropdown-item:hover {
    color:#e41b13 !important;
  }

  .Header.HasSeparator .container:after {
    border-top-color: #000000 !important;
  }

  .Header.HasSeparator--full {
    border-bottom-color:#000000 !important;
  }

  @media(min-width:768px){
    .HeaderSources .dropdown-menu {
      background-color:#FFE500;
    }

    .HeaderSources .dropdown-item {
      color:#000000 !important;
    }

    .HeaderSources .dropdown-item:hover {
      color:#e41b13 !important;
    }

    .HeaderSources .dropdown-toggle:after {
      background-color: #000000 ;
    }
  }
  
    

  .FooterNav .nav .nav-item .nav-link {
    font-family: 'Roboto';
    font-style: normal;
  }
  .Footer .FooterCredits {
    color: #ffffff;
  }
  .Footer .FooterCredits a {
    color: #ffffff;
  }
  .Footer .Player  dropdown .show,
  .Footer .dropdown-menu .show {
    color: #ffffff;
  }

  .FooterNav .nav .nav-item .nav-link {
    font-family: 'Roboto';
    font-size: 2rem;
    font-style: normal;
    
    color:#ffffff;
    
  }
    
  .FooterNav .nav .nav-item .nav-link:hover,
  .FooterNav .nav .nav-item .nav-link:focus {
    color:#e41b13
  }
    
  .FooterNav .nav .nav-item .nav-link.active {
    color:#e41b13;
  }
  
  .FooterNav .nav .nav-item .dropdown-toggle:after {
    background-color: #000000;
  }

  .FooterLegal .nav .nav-item .nav-link {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-style: normal;
    color:#ffffff;
  }
    
  .FooterLegal .nav .nav-item .nav-link:hover,
  .FooterLegal .nav .nav-item .nav-link:focus {
    color:#e41b13
  }
    
  .FooterNav .dropdown-menu {
    background-color:#000000 !important;
  }

  .FooterNav .dropdown-item {
    color:#ffffff !important;
    font-family:'Roboto';
    font-size:2rem;
    font-style:normal;
  }


  .FooterNav .dropdown-item:hover {
    color:#e41b13 !important;
  }

  .FooterRadios {
    background-color:transparent;
  }

  .FooterRadios .swiper-button-prev,
  .FooterRadios .swiper-button-next {
  color: #ffffff;
}
  .FooterRadios .swiper-button-prev:hover,
  .FooterRadios .swiper-button-next:hover {
  color: #e41b13;
}

  
  
    
  .Broadcasts.HasWebradio .webradio {
    background-color: #000000; }
    .Broadcasts.HasWebradio .webradio .webradio-title {
      color: #ffffff;
      font-size:1.4rem;
      font-family:'Roboto';
      font-weight:600;
      text-transform:capitalize;
     }

    .Broadcasts.HasWebradio .webradio .webradio-artist {
      color: #ffffff;
      font-size:1.6rem;
      font-family:'Roboto';
      font-style:normal;
      font-weight:400;
      text-transform:capitalize;
    }
  
 
  
    
  .event-subtitle {
    color: #494841;
    background-color: #ffffff;
  }

  .event-title,
    .event-countdown-value,
    .event-countdown-legend {
      color: #ffffff;
    }
 
 .event.titleInternal .event-title {
    font-size: 2.6rem;
    color: #494841;
   }
   
   .section.bg--dark .event.titleInternal .event-title {
    color: #ffffff;   
   }
   
   .event.titleInternal .event-subtitle {
      color: #000000;
      background-color: transparent;
   }
   
   .section.bg--dark .event.titleInternal .event-subtitle {
      color: #ffffff;
      background-color: transparent;
   }
   
  

    
  